<body class='d-flex flex-column h-100'>
   <main class='flex-shrink-0'>
      <div class='header-container container px-4'>
         <header class='d-flex flex-wrap py-3'>
            <a href='/' class='d-flex mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none'>
               <!-- <svg class='bi me-2' width='40' height='32'><use xlink:href='#bootstrap'/></svg> -->
               <img class='bi me-4 logo' src='logo.png'>
               <span class='mt-2 title'><h1><%= title %></h1></span>
            </a>
         </header>
      </div>
      <div class='main-container container-md px-4 mb-5'>

