<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
   <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <% let title = lang.home_title %>
      <title><%= title %></title>
      <link rel='stylesheet' href='bootstrap.min.css'>
      <link rel='stylesheet' href='style.css'>
      <script type="text/javascript" src="bootstrap.min.js"></script>
   </head>
   <%- include('_header', { title: title }) %>

   <% if (typeof msg != 'undefined') { -%>
      <div class='alert alert-warning' role='alert'>
         <%= msg %>
      </div>
   <% } -%>

   <div id="gallery"></div>

<!--    <div class="card topic my-3">
      <div class="card-body topic-shelf p-0">
         <img class='small-thumbnail' src='test_drawing.svg'>
      </div>
      <div class="card-footer border-top-0">
         <h4 class='mb-0'>Topic Title</h4>
      </div>
      <a href="#" class="stretched-link"></a>
   </div>
 -->
   <div class="card new-topic my-4">
      <div class="card-footer border-top-0">
         <h4 class='mb-0'><%= lang.new_topic %></h4>
      </div>
      <a data-bs-toggle="modal" data-bs-target="#create_topic" href='' class='stretched-link'></a>
   </div>

   <!-- <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#create_topic"><%= lang.new_topic %></button> -->

   <%- include('_footer') %>

   <div class='modal' id='create_topic' tabindex='-1' aria-labelledby='create_topic-label' aria-hidden='true'>
      <div class='modal-dialog'>
         <div class='modal-content fs-3'>
            <form method='post' action='/create_topic' id='tile-form'>
               <div class='modal-body'>
                  <div class='row m-2 mb-3'>
                     <div class='col-auto'>
                        <label class='form-label' for='topic_name'><%= lang.topic_name %>:</label>
                     </div>
                     <div class='col-auto'>
                        <input required class='form-control form-control-lg' type='text' id='topic_name' name='topic_name' value='' />
                     </div>
                  </div>
               </div>
               <div class='modal-footer'>
                  <button type='button' class='btn btn-lg btn-secondary m-2' data-bs-dismiss='modal'><%= lang.cancel %></button>
                  <input type='submit' class='btn btn-lg btn-primary m-2' value='<%= lang.create %>' />
               </div>
            </form>
         </div>
      </div>
   </div>

   </body>
   <script type='text/javascript'>

      window.onload = () => {
         let gallery = '';

         <% topics.forEach((topic) => { -%>

            gallery +=
            "<div class='card topic my-3'>" +
               "<div class='card-body topic-shelf p-0'>";
                  <% topic.tiles.forEach((tile) => { -%>
                     gallery += "<img class='small-thumbnail' src='<%= tile.thumbnail %>'>";
                  <% }); -%>
               gallery +=
               "</div>" +
               "<div class='card-footer border-top-0'>" +
                  "<h4 class='mb-0'><%= topic.name %></h4>" +
               "</div>" +
               "<a href='topic?id=<%= topic.id %>' class='stretched-link'></a>" +
            "</div>";
         <% }); -%>

         // gallery +=
         //    "<a class='btn btn-primary mt-3' href='topic?id=-1' role='button'><%= lang.no_topic %></a>" +
         //    "<br/>"

         document.getElementById('gallery').innerHTML = gallery;
      }
  </script>
</html>
