<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
   <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <% let title = lang.home_title %>
      <title><%= title %></title>
      <link rel='stylesheet' href='bootstrap.min.css'>
      <link rel='stylesheet' href='style.css'>
   </head>
   <%- include('_header', { title: title }) %>

   <% if (typeof msg != 'undefined') { -%>
      <div class='alert alert-warning' role='alert'>
         <%= msg %>
      </div>
   <% } -%>

   <div class='card topic-title my-3'>
      <div class='card-footer border-top-0'>
         <h4 class='mb-0'><%= topic.name %></h4>
      </div>
   </div>

   <div id='gallery'>
   <form action='/view'>
      <input type='hidden' id='topic_id' name='topic_id' value='<%= topic.$loki %>' />
      <input  type='submit' class='btn btn-primary new-tile fs-4' value='<%= lang.new_tile %>' />
   </form>
   </div>

   <%- include('_footer') %>
   </div>
</body>
   <script type='text/javascript'>

      window.onload = () => {
         let gallery = document.getElementById('gallery').innerHTML;

         <% tiles.forEach((tile) => { -%>
            gallery +=
               "<div>" +
               "<a href='view?id=<%= tile.id %>'>" +
               "<img class='thumbnail' src='<%= tile.thumbnail %>'>" +
               "</a></div>";
         <% }); -%>

         document.getElementById('gallery').innerHTML = gallery;
      }
  </script>
</html>
