<!doctype html>
<html lang='en' class='h-100' data-bs-theme='auto'>
   <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <% let title = lang.home_title %>
      <title><%= title %></title>
      <link rel='stylesheet' href='bootstrap.min.css'>
      <link rel='stylesheet' href='style.css'>
      <script type="text/javascript" src="bootstrap.min.js"></script>
      <script src="canvas2svg.js"></script>
      <!-- <script type='text/javascript' src='https://code.jquery.com/jquery-3.7.0.min.js'></script> -->
   </head>
   <%- include('_header', { title: title }) %>

   <% if (typeof errors != 'undefined') { -%>
      <% errors.forEach((error) => { -%>
         <div class='alert alert-danger' role='alert'>
            <%= error.msg %>
         </div>
   <% });} -%>

   <div class='authors my-1'>
      <img class='author-icon' src='authors.svg'>
      <h5 id='author-list'></h5>
   </div>
   <div class='tile'>
      <canvas class='mx-auto' id="drawing"></canvas>
      <br />
      <div class="history-slider-container">
         <input id='history-slider' type='range' max='1' value='1' step='0.01'>
         <div class="history-slider-track dashed-line-alt"></div>
      </div>
   </div>
<!--    <div class="card topic-link m-2">
      <div class="card-footer border-top-0">
         <h4 class='mb-0'><%= topic.name %></h4>
      </div>
      <a href='topic?id=<%= topic.$loki %>' class='stretched-link'></a>
   </div> -->
   <button type="button" class="btn btn-lg btn-primary m-2" data-bs-toggle="modal" data-bs-target="#publish"><%= lang.publish %></button>
   <button id="download" class='btn btn-lg btn-success m-2'><%= lang.download %></button>
   <!-- <button id="test">test</button> -->

   <%- include('_footer') %>

   <div class='modal' id='publish' tabindex='-1' aria-labelledby='publish-label' aria-hidden='true'>
      <div class='modal-dialog'>
         <div class='modal-content fs-3'>
            <form method='post' action='/publish' id='tile-form'>
               <!--
               <div class='modal-header'>
                  <h1 class='modal-title fs-5' id='confirm-delete-label'><%= lang.publish %></h1>
                  <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
               </div>
               -->
               <div class='modal-body'>
                  <div class='row m-2 mb-3'>
                     <div class='col-auto'>
                        <label class='form-label' for='author_name'><%= lang.author_name %>:</label>
                     </div>
                     <div class='col-auto'>
                        <input required class='form-control form-control-lg' type='text' id='author_name' name='author_name' value='' />
                     </div>
                  </div>
                  <div class='row m-2'>
                     <div class='col-auto'>
                        <label class='form-label' for='author_age'><%= lang.author_age %>:</label>
                     </div>
                     <div class='col-auto'>
                        <input required class='form-control form-control-lg' type="number" name="author_age" id="author_age" min="1" max="100" step="1" value='' />
                     </div>
                  </div>
                  <input type='hidden' id='new_tile' name='new_tile' value='<%= new_tile > 0 ? 1 : 0 %>' />
                  <input type='hidden' id='upstream_id' name='upstream_id' value='<%= new_tile > 0 ? -1 : tile.$loki %>' />
                  <input type='hidden' id='topic_id' name='topic_id' value="<%= topic.$loki %>" />
                  <input type='hidden' id='drawing_data' name='drawing_data' value="" />
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-lg btn-secondary m-2" data-bs-dismiss="modal"><%= lang.cancel %></button>
                  <input type='submit' class='btn btn-lg btn-primary m-2' value='<%= lang.publish %>' />
               </div>
            </form>
         </div>
      </div>
   </div>

   </body>
   <script src="drawing.js"></script>
   <script type='text/javascript'>

      // authors are received from server as an array of json strings
      // and added as hidden <input> element to form where value = json string
      // for being submitted back to the server with the form

      window.onload = () => {

         // save and restore author_name and author_age with sessionStorage
         /*
         let author_name = document.getElementById("author_name");
         author_name.addEventListener("change", () => {
           sessionStorage.setItem("author_name", author_name.value);
         });
         let author_age = document.getElementById("author_age");
         author_age.addEventListener("change", () => {
           sessionStorage.setItem("author_age", author_age.value);
         });
         if (sessionStorage.getItem("author_name")) {
           author_name.value = sessionStorage.getItem("author_name");
         }
         if (sessionStorage.getItem("author_age")) {
           author_age.value = sessionStorage.getItem("author_age");
         }
         */

         // get author list from tile data
         let authors = [];
         let upstream_author = '';

         // if not a new tile
         <% if (new_tile != 1) { -%>

            loadDrawing("<%= tile.drawing %>");

            <% tile.authors.forEach((author) => { -%>

               // add author to displayed list
               authors.push("<span class='author m-2 px-3 py-1 rounded-pill'><%= author.name %>" + ', ' + '<%= author.age %></span>');

               // add author as hidden <input> element
               upstream_author = document.createElement('input');
               upstream_author.type = 'hidden';
               upstream_author.name = 'upstream_authors';
               upstream_author.value = JSON.stringify({
                  'name': '<%= author.name %>',
                  'age': '<%= author.age %>',
                  'timestamp': '<%= author.timestamp %>'
                  });
               document.getElementById('tile-form').appendChild(upstream_author);

            <% }); -%>

         <% } else { -%>
            authors.push("<span class='author-new m-2 px-3 py-1 rounded-pill'><%= lang.new_tile %></span>");
         <% } -%>

         // update the author list HTML
         let author_list = '';
         authors.filter(onlyUnique).forEach((author) => {
            author_list += author;
         });
         document.getElementById('author-list').innerHTML = author_list;
      }

      // get unique entries in author_list
      // https://stackoverflow.com/questions/1960473/get-all-unique-values-in-a-javascript-array-remove-duplicates
      function onlyUnique(value, index, array) {
         return array.indexOf(value) === index;
      }


      // send form using javascript in order to prepare the svg data first

      const form = document.getElementById("tile-form");

      form.addEventListener("submit", (event) => {
         event.preventDefault();
         document.getElementById("drawing_data").value = svgToDataURI(svg_context.getSerializedSvg());
         form.submit();
      });

      // ----------------------------- DOWNLOAD ----------------------------------- //

      const download_btn = document.getElementById('download');
      download_btn.addEventListener('click', download);

      // with help from:
      // https://stackoverflow.com/questions/23218174/how-do-i-save-export-an-svg-file-after-creating-an-svg-with-d3-js-ie-safari-an

      function download(evt) {
         evt.preventDefault();
         if(<%= new_tile > 0 ? true : false %> || new_paths) {
            alert("<%= lang.errors.download_error %>");
         } else {
            let svgBlob = new Blob([svg_context.getSerializedSvg()], {type:"image/svg+xml;charset=utf-8"});
            let link = document.createElement("a");
            let id = "<%= new_tile > 0 ? 0 : tile.$loki %>"
            id = id.padStart(4, "0");
            link.download = "<%= lang.filename %>_" + id + ".svg";
            link.href = URL.createObjectURL(svgBlob);
            link.click();
         }
      }

  </script>
</html>
