@font-face {
   font-family: "ATypewriterForMe";
   src: url("ATypewriterForMe.ttf");
}

body {
   background-color: #F0EDE7;
   background-image: url("background.jpg");
   background-repeat:no-repeat;
   background-position: calc(50% - 100px) top;
}

body {
   font-family: "ATypewriterForMe", sans-serif;
}

.title h1 {
   font-size: calc(2rem + 1.5vw);
}

h2, h3, h4 {
   font-weight: 600 !important;
}

.logo {
   width: 100px;
}

a {
   text-decoration: none;
}

.main-container, .header-container, .footer-container {
   max-width: 800px;
}

.btn:hover {

}

.btn-primary {
   background-color: #cb44c6;
   border: 0px;
}
.btn-primary:hover {
   background-color: #df69db;
}
.btn-success {
   background-color: #154096;
   border: 0px;
}
.btn-success:hover {
   background-color: #3766c6;
}

.topic, .topic-title, .topic-link {
   background-color: #0000;
   border: 1.5px solid #000;
   border-radius: 3px;
}

.topic-shelf {
   height: 95px;
   overflow: hidden;
   border-bottom: 1.5px solid #000;
}

.topic-link {
   float: left;
   margin-right: 20px !important;
}

.thumbnail, .new-tile {
   border-radius: 5px;
   margin: 10px;
   width: 200px;
   float: left;
}

.thumbnail {
   background: #FFF;
   border: 2px solid #000;
}

.new-topic, .new-tile {
   background: #FFF0;
   border: 2px dashed #000;
   color: #000;
   font-weight: 700;
}

.topic:hover,
.topic-shelf:hover,
.topic-link:hover,
.new-topic:hover,
.new-tile:hover {
   color: #912d8e;
   background: #df69db55;
   border-color: #912d8e;
}

/*no idea how to override bootstrap btn click style... */
.topic:active:focus, .topic:click, .topic:focus,
.topic-shelf:active:focus, .topic-shelf:click, .topic-shelf:focus,
.new-topic:active:focus, .new-topic:click, .new-topic:focus,
.new-tile:active:focus, .new-tile:click, .new-tile:focus
{
   background: #df69db99 !important;
}

.new-topic {
   border-radius: 3px;
}

.new-tile {
   height: 200px;
   padding:25px;
   white-space: normal;
}

.small-thumbnail {
   background: #FFF;
   border: 1px solid #000;
   border-radius: 3px;
   margin: 10px;
   width: 75px;
   float: left;
}

.authors {
   min-height: 60px;
}

.author-icon {
   float: left;
   margin-top: -5px;
   margin-right: 10px;
}

.author {
   background: #15409655;
}
.author-new {
   background: #df69db55;
}
.author, .author-new {
   line-height: 200%;
   font-weight: 700;
}


#gallery {
   overflow: auto;
}

.tile {
   
}

#drawing {
   background: #FFF;
   border: 2px solid #000;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #666;
}


/* History Slider */

.history-slider-container {
   width: 567px;
}
.history-slider-track {
   display: block;
   z-index: 2;
   position: relative;
   top: -24px;
   width: 567px;
   height: 0px;
   border-bottom: 5px dashed #000;
   pointer-events: none;
}
#history-slider {
   display: block;
   z-index: 1;
   position: relative;
   margin-top:30px;
   margin-bottom:15px;
   width: 567px;
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: #0000;
  border: #0000;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0000;
  border: #0000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: #0000;
  border: #0000;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px;
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -25px;
}
input[type=range]::-moz-range-thumb {
  border: 0px;
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background: #000;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  border: #0000;
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background: #000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0000;
  border: #0000;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #0000;
  border: #0000;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0000;
}